@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-image: url(/asset/kitchen.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header {
  margin-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  -webkit-filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.navbar-brand img {
  width: 30px;
}
.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: var(--pink) !important;
}
.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.logo {
  margin-top: 35px;
  font-size: 2.5rem;
  color: white;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1) translateX(-10px);
  -webkit-transform: scale(1.1) translateX(-10px);
  -moz-transform: scale(1.1) translateX(-10px);
  -ms-transform: scale(1.1) translateX(-10px);
  -o-transform: scale(1.1) translateX(-10px);
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.home .home-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  text-shadow: 2px 2px 5px black;
}

.home-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px black;
}

.home-content {
  text-shadow: 2px 2px 5px black;
  color: lightgray;
}

.home-img img {
  object-position: bottom;
  object-fit: cover;
  position: relative;
  width: 20vw;
  height: 350px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}

.home-content p {
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  color: white;
  background-color: black;
  border: 0.2rem solid white;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social-icon a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  -webkit-transform: scale(1.3) translateY(-5px);
  -moz-transform: scale(1.3) translateY(-5px);
  -ms-transform: scale(1.3) translateY(-5px);
  -o-transform: scale(1.3) translateY(-5px);
  background-color: black;
  box-shadow: 0 0 25px white;
}

.btn-icon {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  border: 2px solid white;
  letter-spacing: 0.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.btn-icon:hover {
  transform: scale3d(1.03);
  -webkit-transform: scale3d(1.03);
  -moz-transform: scale3d(1.03);
  -ms-transform: scale3d(1.03);
  -o-transform: scale3d(1.03);
  background-color: white;
  color: black;
  border-color: black;
  box-shadow: 0 0 25px white;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text .sp1 {
  position: relative;
}

.typing-text .sp1::before {
  content: "Kumpul";
  color: wheat;
  animation: words 20s infinite;
  -webkit-animation: words 20s infinite;
}

.typing-text .sp1::after {
  content: "";
  background-color: transparent;
  position: absolute;
  width: calc(100% + 6px);
  height: 100%;
  border-left: 3px solid black;
  right: -9;
  animation: cursor 0.6s infinite;
  -webkit-animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid white;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Kumpul ";
  }

  21%,
  40% {
    content: "Ngopi ";
  }

  41%,
  60% {
    content: "Curhat ";
  }

  61%,
  80% {
    content: "Nyemil ";
  }

  81%,
  100% {
    content: "Sharing ";
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }

  section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
  }

  .home .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .logo {
    margin-top: 20px;
    font-size: 30px;
  }

  .social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;

  }

  .btn-icon {
    font-size: 1rem;
}
}
