@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  z-index: -9999;
}

body {
  background-image: url(/asset/kitchen.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  width: 30px;
}
.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: var(--pink) !important;
}
.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* card */

.title {
  margin: 0;
  width: 100%;
  max-width: 40rem;
  font-size: 5rem;
  text-align: center;
}

.card {
  width: 90%;
  max-width: 400px;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: 1px solid transparent;

  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

  border-top-color: rgba(255, 255, 255, 0.5);
  border-left-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
}

.cb1 {
  background-color: rgba(255, 255, 255, 0.1);
}

.card-body img {
  width: 100%;
  height: auto;
}

.card-title {
  font-weight: 700;
  margin-top: 20px;
}

.ct1 {
  background-color: black;
}
